.comp-slide {
  overflow: hidden;
  .anim {
    width: 100%;
    height: 100%;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: both;
  }
}

@keyframes anim-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes anim-bottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes anim-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes anim-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
