@import "../theme.scss";

.comp-mask {
  overflow: hidden;
  .anim {
    width: 100%;
    height: 100%;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: both;
    position: relative;
    .children {
      position: absolute;
      width: 100%;
    }
  }
}

@keyframes anim-mask {
  from {
    background-color: rgba($color: $white-hover-color, $alpha: 0);
  }

  to {
    background-color: rgba($color: $white-hover-color, $alpha: 0.5);
  }
}
