@import "../theme.scss";

.comp-btn {
  outline: 0;
  border: none;
  border-radius: 4px;
  padding: 0.8em 1.5em;
  cursor: pointer;
}

.primary-btn {
  background-color: $primary-color;
  color: white;
  &:active {
    background-color: $primary-hover-color;
  }
}

.secondary-btn {
  background-color: white;
  color: $primary-color;
  &:active {
    background-color: $white-hover-color;
  }
}

.disabled-btn {
  background-color: $backgroud-color;
  color: $white-hover-color;
  cursor: not-allowed;
}

.big-btn {
  font-size: $big-font-size;
}
.medium-btn {
  font-size: $medium-font-size;
}
.small-btn {
  font-size: $small-font-size;
}
