$primary-color: rgb(0, 168, 94);
$backgroud-color: rgb(238, 238, 238);

$primary-hover-color: rgb(0, 153, 87);
$white-hover-color: rgb(215, 215, 215);

$border-color: $white-hover-color;

$big-font-size: 1.3rem;
$medium-font-size: 1rem;
$small-font-size: 0.7rem;
